<div class="row">
  <div class="col-xs-12">
    <h2>Add new Servers or blueprints!</h2>
    <label>Server Name</label>
    <!-- use 'two-way data binding' for getting the input from template into application -->
    <input type="text" class="form-control" [(ngModel)]="newServerName">

    <label>Server Content</label>
    <input type="text" class="form-control" [(ngModel)]="newServerContent">

    <br>
    <!-- simply add some action listeners -->
    <button
      class="btn btn-primary"
      (click)="onAddServer()">Add Server
    </button>
    <button
      class="btn btn-primary"
      (click)="onAddBlueprint()">Add Server Blueprint
    </button>

    <!--
    <label>Server Name</label>
    <input type="text" class="form-control" #serverNameInput>

    <label>Server Content</label>
    <input type="text" class="form-control" #serverContentInput>

    <br>
    <button
      class="btn btn-primary"
      (click)="onAddServer(serverNameInput)">Add Server
    </button>
    <button
      class="btn btn-primary"
      (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint
    </button>
    -->
  </div>
</div>
